<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ExpressGeneratorTypeScriptApp</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        
    </head>
    <body>

        <h1>Hello, <span id="name"></span></h1>


        <input type="text" id="endpoint">
        <button id="clickBtnEndpoint">test !</button>
        <textarea cols="200" rows="50"></textarea>


    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="scripts/spotify-api.js"></script>
    <script>

      $(function() {

        const socket = io();

        socket.on('connect', () => {
          getMe().then(data => {
            $("#name").html(data.display_name)
            socket.emit("hello", {
              id: data.id,
              name: data.display_name
            })
          })

        });

        socket.on('disconnect', () => {
          console.log("disconnected");
        });

      });

      $("#clickBtnEndpoint").click(()=>{
        fetch($("#endpoint").val()).then(data => {
          console.log(data);
        })
      })


    </script>
</html>


