body {
  --black: #121212;
  --grey01: #b3b3b3;
  --grey02: #535353;
  --grey03: #212121;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: var(--grey01);
}

#content {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 100px;
  background: var(--grey03);
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: var(--grey02);
}
