body {
  font-family: "Montserrat", sans-serif;
  --black: #121212;

  --grey01: #b3b3b3;
  --grey02: #5e5e5e;
  --grey03: #454447;

  --red: #910808;
}

.page {
  background: linear-gradient(
      180deg,
      #1d1d1d 8.85%,
      rgba(44, 44, 44, 0.0364583) 100%
    ),
    #1d1d1d;

  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 100px;
}

/* PAGE 1 */

#page1 {
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}

.icon {
  font-size: 60px;
  color: #ffffff;
}

#searchIcon {
  position: absolute;
  top: 40px;
  left: 40px;
}

#appName {
  font-weight: bold;
  font-size: 70px;
  color: #ffffff;
  width: 600px;
  margin: 30px auto;
  text-align: center;
}

#menuIcon {
  position: absolute;
  top: 40px;
  right: 40px;
}

#content {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 100px;
}

.titleText {
  font-weight: 600;
  font-size: 70px;
  color: #ffffff;
  margin: 100px 0 50px 50px;
}

#tracksQueue {
  width: 100%;
  height: 100%;

  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
}

.trackContainer {
  padding: 40px;
  height: 60px;
  width: calc(100% - 84px);
  border: var(--grey02) 2px solid;
  display: flex;
  align-items: center;
  color: var(--grey02);
}

.trackQueueAngryIcon {
  position: relative;
  font-size: 60px;
  color: #ffffff;
}

.hatersCount{
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--red);
  border-radius: 100px;
  padding: 7px;
  position: absolute;
  top: 35px;
  right: -8px;
}

.trackName {
  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
  display: inline;
  margin: 0 20px 0 40px;
}

.trackArtist {
  font-weight: 600;
  font-size: 40px;
  color: var(--grey02);
  display: inline;
  margin: 0 20px;
}

.trackAdder {
  width: 100%;
  font-size: 40px;
  text-align: right;
  font-style: normal;
  font-weight: normal;
  color: var(--grey01);
}

/* PAGE 2 */

#page2 {
  font-size: 80px;
  overflow-y: scroll;
}

#page2 .backToHome {
  font-size: 35px;
  margin-left: 50px;
}

#page2 #searchBar {
  border-radius: 100px;
  border: 1px solid #000000;
  width: 600px;
  height: 100px;
  padding-left: 10px;
  font-size: 60px;
  margin-left: 100px;
  margin-top: 20px;

  background: #f5f5f5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#page2 #searchBar[type="text"]:focus {
  outline: none;
}

#page2 #searchResultTable .trackResult {
  margin: 40px 50px;

  display: flex;
}

#page2 #searchResultTable .trackResult .trackCover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 150px;
  height: 150px;
}

#page2 #searchResultTable .trackResult .trackInfos {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

#page2 #searchResultTable .trackResult .trackName {
  margin: 5px 0;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  font-size: 50px;
}

#page2 #searchResultTable .trackResult .trackAuthor {
  margin: 5px 0;
  font-weight: 600;
  font-size: 20px;
  color: #b3b3b3;
  font-size: 50px;
}

/* PAGE 3 */

#page3 .backToHome {
  font-size: 35px;
  margin: 50px 0 0 50px;
}

#page3 #nbUsersText {
  font-weight: 600;
  font-size: 70px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page3 .userName {
  margin: 30px 0;
  font-weight: 600;
  font-size: 60px;
  color: var(--grey01);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER */

#player {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 170px;
  background: var(--grey03);
}

#timeLineBackground {
  position: absolute;
  bottom: 170px;
  height: 10px;
  width: 100%;
  background: var(--grey02);
  z-index: 1;
}

#timeLine {
  position: absolute;
  bottom: 170px;
  height: 10px;
  width: 70%;
  background: #ffffff;
  z-index: 2;
}

#currentTrack {
  height: 100%;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

#leftCol {
  height: 100%;
  width: 170px;
  height: 100%;
}

#middleCol {
  width: calc(86% - 170px);
  height: 100%;
}

#currentTrackText {
  margin: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  color: var(--grey01);
}

#currentTrackName {
  font-size: 40px;
  color: #ffffff;
  display: inline;
  margin: 0 20px 0 40px;
}
#currentTrackArtist {
  font-weight: 600;
  font-size: 40px;
  color: var(--grey01);
  display: inline;
  margin: 0 20px;
}

#currentTrackAdder {
  font-weight: normal;
  font-size: 40px;
  color: var(--grey01);
  display: flex;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
}

#rigthCol {
  height: 100%;
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#currenTrackAngryIcon {
  font-size: 80px;
}
